**N patinhos foram passear**
**Além das montanhas para brincar**
**A mamãe gritou: Qua qua qua qua**
**Mas só n-1 patinhos voltaram de lá**
**A musica se repete até nenhum patinho voltar de lá **

In [ ]:
for patinhos in [5, 4, 3, 2, 1]:
    if patinhos == 1:
        print(patinhos, "patinho foi passear, além das montanhas para brincar, a mamãe gritou: Quá quá quá quá! Mas nenhum patinho voltou de lá.")
    else:
        print(patinhos, "patinhos foram passear, além das montanhas para brincar, a mamãe gritou: Quá quá quá quá! Mas só", patinhos-1, "voltaram de lá.")

5 patinhos foram passear, além das montanhas para brincar, a mamãe gritou quá quá quá quá, mas só 4 voltaram de lá
4 patinhos foram passear, além das montanhas para brincar, a mamãe gritou quá quá quá quá, mas só 3 voltaram de lá
3 patinhos foram passear, além das montanhas para brincar, a mamãe gritou quá quá quá quá, mas só 2 voltaram de lá
2 patinhos foram passear, além das montanhas para brincar, a mamãe gritou quá quá quá quá, mas só 1 voltaram de lá
1 patinho foi passear, além das montanhas para brincar, a mamãe gritou quá quá quá quá, mas nenhum patinho voltou de lá

**A mamãe patinha**
**Foi procurar**
**Além das montanhas**
**Na beira do mar
**A mamãe gritou**
**Quá, quá, quá, quá!**
**E os cinco patinhos**
**Voltaram de lá**

In [4]:
for patinhos in [5]:
 print("A mamãe patinha foi procurar, além das montanhas na beira do mar, a mamãe gritou: Quá, quá, quá, quá! E os" ,patinhos , "patinhos voltaram de lá.")

A mamãe patinha foi procurar, além das montanhas na beira do mar, a mamãe gritou: Quá, quá, quá, quá! E os 5 patinhos voltaram de lá.

**Um Elefante Incomoda Muita Gente**

In [ ]:
for elefantes in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
  if elefantes == 1:
    print(elefantes, "elefante incomoda muita gente," , elefantes+1 , "elefantes" , elefantes* "incomodam" , "muito mais.")
  else:
    print(elefantes, "elefantes incomodam muita gente," , elefantes+1 , "elefantes", elefantes* "incomodam ", "muito mais.")

1 elefante incomoda muita gente, 2 elefantes incomodam muito mais.
2 elefantes incomodam muita gente, 3 elefantes incomodam incomodam  muito mais.
3 elefantes incomodam muita gente, 4 elefantes incomodam incomodam incomodam  muito mais.
4 elefantes incomodam muita gente, 5 elefantes incomodam incomodam incomodam incomodam  muito mais.
5 elefantes incomodam muita gente, 6 elefantes incomodam incomodam incomodam incomodam incomodam  muito mais.
6 elefantes incomodam muita gente, 7 elefantes incomodam incomodam incomodam incomodam incomodam incomodam  muito mais.
7 elefantes incomodam muita gente, 8 elefantes incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito mais.
8 elefantes incomodam muita gente, 9 elefantes incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito mais.
9 elefantes incomodam muita gente, 10 elefantes incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito mais.
10 elefantes incomodam muita gente, 11 elefantes incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito mais.

**Um Elefante Incomoda Muita Gente**

In [ ]:
for elefantes in [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]:
  if elefantes == 1:
    print(elefantes, "elefante incomoda muita gente," , elefantes-1 , "elefantes", elefantes* "incomodam " , "muito menos.")
  else:
    print(elefantes, "elefantes incomodam muita gente," , elefantes-1 , "elefantes", elefantes* "incomodam ", "muito menos.")

10 elefantes incomodam muita gente, 9 elefantes incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito menos.
9 elefantes incomodam muita gente, 8 elefantes incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito menos.
8 elefantes incomodam muita gente, 7 elefantes incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito menos.
7 elefantes incomodam muita gente, 6 elefantes incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito menos.
6 elefantes incomodam muita gente, 5 elefantes incomodam incomodam incomodam incomodam incomodam incomodam  muito menos.
5 elefantes incomodam muita gente, 4 elefantes incomodam incomodam incomodam incomodam incomodam  muito menos.
4 elefantes incomodam muita gente, 3 elefantes incomodam incomodam incomodam incomodam  muito menos.
3 elefantes incomodam muita gente, 2 elefantes incomodam incomodam incomodam  muito menos.
2 elefantes incomodam muita gente, 1 elefantes incomodam incomodam  muito menos.
1 elefante incomoda muita gente, 0 elefantes incomodam  muito menos.

**Mariana conta 1**

In [1]:
for conta in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
  if conta == 1:
    print("Mariana conta" ,conta, ", Mariana conta" ,conta, ", é" , conta , ", é", conta+1 , ", é Ana viva a Mariana, viva a Mariana!" )
  elif conta == 2:
    print("Mariana conta" ,conta, ", Mariana conta" ,conta, ", é" , conta-1 , ", é", conta , ", é Ana viva a Mariana, viva a Mariana!" )
  elif conta == 3:
    print("Mariana conta" ,conta, ", Mariana conta" ,conta, ", é" , conta-2 , ", é", conta-1 , ", é", conta, ", é Ana viva a Mariana, viva a Mariana!" )
  elif conta == 4:
    print("Mariana conta" ,conta, ", Mariana conta" ,conta, ", é" , conta-3 , ", é", conta-2 , ", é", conta-1, ", é", conta, ", é Ana viva a Mariana, viva a Mariana!" )
  elif conta == 5:
    print("Mariana conta" ,conta, ", Mariana conta" ,conta, ", é" , conta-4 , ", é", conta-3 , ", é", conta-2, ", é", conta-1, ", é", conta,", é Ana viva a Mariana, viva a Mariana!" )
  elif conta == 6:
    print("Mariana conta" ,conta, ", Mariana conta" ,conta, ", é" , conta-5 , ", é", conta-4 , ", é", conta-3, ", é", conta-2, ", é", conta-1,", é", conta, ", é Ana viva a Mariana, viva a Mariana!" )
  elif conta == 7:
    print("Mariana conta" ,conta, ", Mariana conta" ,conta, ", é" , conta-6 , ", é", conta-5 , ", é", conta-4, ", é", conta-3, ", é", conta-2,", é", conta-1, ", é", conta, ", é Ana viva a Mariana, viva a Mariana!" )
  elif conta == 8:
    print("Mariana conta" ,conta, ", Mariana conta" ,conta, ", é" , conta-7 , ", é", conta-6 , ", é", conta-5, ", é", conta-4, ", é", conta-3,", é", conta-2, ", é", conta-1, ", é", conta, ", é Ana viva a Mariana, viva a Mariana!" )
  elif conta == 9:
    print("Mariana conta" ,conta, ", Mariana conta" ,conta, ", é" , conta-8 , ", é", conta-7 , ", é", conta-6, ", é", conta-5, ", é", conta-4,", é", conta-3, ", é", conta-2, ", é", conta-1, ", é", conta, ", é Ana viva a Mariana, viva a Mariana!" )
  elif conta == 10:
    print("Mariana conta" ,conta, ", Mariana conta" ,conta, ", é" , conta-9 , ", é", conta-8 , ", é", conta-7, ", é", conta-6, ", é", conta-5,", é", conta-4, ", é", conta-3, ", é", conta-2, ", é", conta-1, ", é", conta, ", é Ana viva a Mariana, viva a Mariana!" )

Mariana conta 1 , Mariana conta 1 , é 1 , é 2 , é Ana viva a Mariana, viva a Mariana!
Mariana conta 2 , Mariana conta 2 , é 1 , é 2 , é Ana viva a Mariana, viva a Mariana!
Mariana conta 3 , Mariana conta 3 , é 1 , é 2 , é 3 , é Ana viva a Mariana, viva a Mariana!
Mariana conta 4 , Mariana conta 4 , é 1 , é 2 , é 3 , é 4 , é Ana viva a Mariana, viva a Mariana!
Mariana conta 5 , Mariana conta 5 , é 1 , é 2 , é 3 , é 4 , é 5 , é Ana viva a Mariana, viva a Mariana!
Mariana conta 6 , Mariana conta 6 , é 1 , é 2 , é 3 , é 4 , é 5 , é 6 , é Ana viva a Mariana, viva a Mariana!
Mariana conta 7 , Mariana conta 7 , é 1 , é 2 , é 3 , é 4 , é 5 , é 6 , é 7 , é Ana viva a Mariana, viva a Mariana!
Mariana conta 8 , Mariana conta 8 , é 1 , é 2 , é 3 , é 4 , é 5 , é 6 , é 7 , é 8 , é Ana viva a Mariana, viva a Mariana!
Mariana conta 9 , Mariana conta 9 , é 1 , é 2 , é 3 , é 4 , é 5 , é 6 , é 7 , é 8 , é 9 , é Ana viva a Mariana, viva a Mariana!
Mariana conta 10 , Mariana conta 10 , é 1 , é 2 , é 3 , é 4 , é 5 , é 6 , é 7 , é 8 , é 9 , é 10 , é Ana viva a Mariana, viva a Mariana!